<?xml version='1.0' encoding='utf-8'?> 
 

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        <hibernate-configuration>
  
    <session-factory>  
  
        <!-- Database connection settings -->  
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>  
        <property name="hibernate.connection.url">jdbc:mysql://localhost/aitfhibernate2</property>  
        <property name="hibernate.connection.username">hibernate2</property>  
        <property name="hibernate.connection.password">hibernate2</property>  
  
        <!-- JDBC connection pool (use the built-in) -->  
        <property name="hibernate.connection.pool_size">1</property>  
  
        <!-- SQL dialect -->  
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>  
  
        <!-- Echo all executed SQL to stdout -->  
        <property name="hibernate.show_sql">true</property>  
  
    	<!-- Drop and re-create the database schema on startup -->     
        <!-- <property name="hibernate.hbm2ddl.auto">create</property> --> 
        
        <!-- current context -->
        <property name="hibernate.current_session_context_class">thread</property>  
  
        <mapping class="com.athloneitf.datatype.Member" />
        <mapping class="com.athloneitf.datatype.InstructorLogin" />
        <mapping class="com.athloneitf.datatype.MemberScanIn" />
        <mapping class="com.athloneitf.datatype.MemberScanOut" />
        <mapping class="com.athloneitf.datatype.PaymentType" />
        <mapping class="com.athloneitf.datatype.Payment" />
    </session-factory>  
  
</hibernate-configuration>  

